<body>
    <header>
        <nav class="nav-bar">
            <a class="nav-title" id="homepage" >PolyAlert - Login</a>
        </nav>
    </header>
    <main>
        <article>
            <h1 class="article-title">Login</h1>
            <form id="report-issue-form">
                <label for="email">Email</label>
                <input type="text" id="email" name="email" placeholder="email..." required>

                <label for="password">Mot de passe</label>
                <input type="password" id="password" name="password" placeholder="mot de passe..." required>

                <input type="submit" value="Se connnecter">
            </form>
        </article>
    </main>
</body>
