<body>
    {{>header}}
    <main>
        <article id="issue-informations">
                <h1 class="article-title">Informations</h1>
                <table>
                    <tbody id="Informations">
                        <tr>
                            <td>Date</td>
                            <td>{{issue.created}}</td>
                        </tr>
                        <tr>
                            <td>Nom du signalement</td>
                            <td>{{issue.title}}</td>
                        </tr>
                        <tr>
                            <td>Nature</td>
                            <td>{{issue.type}}</td>
                        </tr>
                        <tr>
                            <td>Emplacement</td>
                            <td>{{issue.location}}</td>
                        </tr>
                        <tr>
                            <td>Criticité</td>
                            <td>{{issue.criticity}}</td>
                        </tr>
                        <tr>
                            <td>Description</td>
                            <td>{{issue.description}}</td>
                        </tr>
                        <tr>
                            <td>Status</td>
                            <td>{{issue.status}}</td>
                    </tbody>
                </table>
            </article>
            <button id="report-user">Signaler utilisateur</button>
            <article id="popup" class="popup">
                <h1 class="article-title">Signaler utilisateur</h1>
                <form id="report-user-form">
                    <label for="report-reason">Raison</label>
                    <input type="text" id="report-reason" name="report-reason" placeholder="saisir raison..." required>
                    <input type="submit">
                </form>
            </article>
    </main>
</body>
